{
  "items": [
    {
      "name": "2007",
      "opacity": 0.9,
      "type": "csv",
      "url": "parlmap-data/ElectionResults/ElectoralDivision_2007-2016/2007_CED.csv",
      "tableStyle": {
        "dataVariable": "TCP_elected_candidate_party",
        "columns": {
          "Enrolled_no": {},
          "Formal_votes_pc": <% include ../includes/Formal %>,
          "Informal_votes_pc": <% include ../includes/Informal %>,
          "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
          "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
          "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
          "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
          "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
          "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
          "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_votes_pc": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
          "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_votes_pc": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
          "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
          "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>
        }
      }
    },
    {
      "name": "2010",
      "opacity": 0.9,
      "type": "csv",
      "url": "parlmap-data/ElectionResults/ElectoralDivision_2007-2016/2010_CED.csv",
      "tableStyle": {
        "dataVariable": "TCP_elected_candidate_party",
        "columns": {
          "Enrolled_no": {},
          "Formal_votes_pc": <% include ../includes/Formal %>,
          "Informal_votes_pc": <% include ../includes/Informal %>,
          "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
          "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
          "1st_preference_votes_LNP_pc": <% include ../includes/FirstPreference-LPNPQLD %>,
          "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
          "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
          "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
          "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
          "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_votes_pc": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
          "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_votes_pc": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
          "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
          "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>
        }
      }
    },
    {
      "name": "2013",
      "opacity": 0.9,
      "type": "csv",
      "url": "parlmap-data/ElectionResults/ElectoralDivision_2007-2016/2013_CED.csv",
      "tableStyle": {
        "dataVariable": "TCP_elected_candidate_party",
        "columns": {
          "Enrolled_no": {},
          "Formal_votes_pc": <% include ../includes/Formal %>,
          "Informal_votes_pc": <% include ../includes/Informal %>,
          "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
          "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
          "1st_preference_votes_LNP_pc": <% include ../includes/FirstPreference-LPNPQLD %>,
          "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
          "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
          "1st_preference_votes_PUP_pc": <% include ../includes/FirstPreference-PUP %>,
          "1st_preference_votes_KAP_pc": <% include ../includes/FirstPreference-KAP %>,
          "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
          "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
          "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_votes_pc": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
          "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_votes_pc": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
          "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
          "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>
        }
      }
    },
    {
      "name": "2016",
      "opacity": 0.9,
      "type": "csv",
      "url": "parlmap-data/ElectionResults/ElectoralDivision_2007-2016/2016_CED.csv",
      "tableStyle": {
        "dataVariable": "TCP_elected_candidate_party",
        "columns": {
          "Enrolled_no": {},
          "Formal_votes_pc": <% include ../includes/Formal %>,
          "Informal_votes_pc": <% include ../includes/Informal %>,
          "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
          "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
          "1st_preference_votes_LNP_pc": <% include ../includes/FirstPreference-LPNPQLD %>,
          "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
          "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
          "1st_preference_votes_KAP_pc": <% include ../includes/FirstPreference-KAP %>,
          "1st_preference_votes_XEN_pc": {},
          "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
          "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
          "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_votes_pc": <% include ../includes/HiddenColumn %>,
          "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
          "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_votes_pc": <% include ../includes/HiddenColumn %>,
          "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
          "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
          "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>
        }
      }
    }
  ],
  "name": "Results by Commonwealth Electoral Division",
  "type": "group"
}