
{
  "name": "Results by Polling Booth",
  "type": "group",
  "items": [
    {
      "name": "ACT",
      "type": "group",
      "items": [

      ]
    },
    {
      "name": "NSW",
      "type": "group",
      "items": [
        {
          "name": "2007",
          "opacity": 0.9,
          "type": "csv",
          "url": "parlmap-data/ElectionResults/PollingPlace_2007-2016/2007_PP_NSW.csv",
          "tableStyle": {
            "dataVariable": "TCP_elected_candidate_party",
            "columns": {
              "Formal_votes_pc": <% include ../includes/Formal %>,
              "Informal_votes_pc": <% include ../includes/Informal %>,
              "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
              "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
              "1st_preference_votes_CLP_pc": {},
              "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
              "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
              "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
              "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
              "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_votes_pc": {},
              "TCP_elected_candidate_margin_pc": {},
              "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_votes_pc": {},
              "TCP_other_candidate_margin_pc": {},
              "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
              "TPP_ALP_margin_pc": {},
              "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>,
              "TTP_LPNP_margin_pc": {}
            }
          }
        }
      ]
    },
    {
      "name": "NT",
      "type": "group",
      "items": [
        {
          "name": "2007",
          "opacity": 0.9,
          "type": "csv",
          "url": "parlmap-data/ElectionResults/PollingPlace_2007-2016/2007_PP_NT.csv",
          "tableStyle": {
            "dataVariable": "TCP_elected_candidate_party",
            "columns": {
              "Formal_votes_pc": <% include ../includes/Formal %>,
              "Informal_votes_pc": <% include ../includes/Informal %>,
              "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
              "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
              "1st_preference_votes_CLP_pc": {},
              "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
              "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
              "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
              "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
              "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_votes_pc": {},
              "TCP_elected_candidate_margin_pc": {},
              "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_votes_pc": {},
              "TCP_other_candidate_margin_pc": {},
              "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
              "TPP_ALP_margin_pc": {},
              "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>,
              "TTP_LPNP_margin_pc": {}
            }
          }
        }
      ]
    },
    {
      "name": "QLD",
      "type": "group",
      "items": [
        {
          "name": "2007",
          "opacity": 0.9,
          "type": "csv",
          "url": "parlmap-data/ElectionResults/PollingPlace_2007-2016/2007_PP_QLD.csv",
          "tableStyle": {
            "dataVariable": "TCP_elected_candidate_party",
            "columns": {
              "Formal_votes_pc": <% include ../includes/Formal %>,
              "Informal_votes_pc": <% include ../includes/Informal %>,
              "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
              "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
              "1st_preference_votes_CLP_pc": {},
              "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
              "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
              "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
              "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
              "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_votes_pc": {},
              "TCP_elected_candidate_margin_pc": {},
              "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_votes_pc": {},
              "TCP_other_candidate_margin_pc": {},
              "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
              "TPP_ALP_margin_pc": {},
              "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>,
              "TTP_LPNP_margin_pc": {}
            }
          }
        }
      ]
    },
    {
      "name": "SA",
      "type": "group",
      "items": [
        {
          "name": "2007",
          "opacity": 0.9,
          "type": "csv",
          "url": "parlmap-data/ElectionResults/PollingPlace_2007-2016/2007_PP_SA.csv",
          "tableStyle": {
            "dataVariable": "TCP_elected_candidate_party",
            "columns": {
              "Formal_votes_pc": <% include ../includes/Formal %>,
              "Informal_votes_pc": <% include ../includes/Informal %>,
              "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
              "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
              "1st_preference_votes_CLP_pc": {},
              "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
              "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
              "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
              "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
              "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_votes_pc": {},
              "TCP_elected_candidate_margin_pc": {},
              "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_votes_pc": {},
              "TCP_other_candidate_margin_pc": {},
              "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
              "TPP_ALP_margin_pc": {},
              "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>,
              "TTP_LPNP_margin_pc": {}
            }
          }
        }
      ]
    },
    {
      "name": "TAS",
      "type": "group",
      "items": [
        {
          "name": "2007",
          "opacity": 0.9,
          "type": "csv",
          "url": "parlmap-data/ElectionResults/PollingPlace_2007-2016/2007_PP_TAS.csv",
          "tableStyle": {
            "dataVariable": "TCP_elected_candidate_party",
            "columns": {
              "Formal_votes_pc": <% include ../includes/Formal %>,
              "Informal_votes_pc": <% include ../includes/Informal %>,
              "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
              "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
              "1st_preference_votes_CLP_pc": {},
              "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
              "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
              "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
              "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
              "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_votes_pc": {},
              "TCP_elected_candidate_margin_pc": {},
              "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_votes_pc": {},
              "TCP_other_candidate_margin_pc": {},
              "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
              "TPP_ALP_margin_pc": {},
              "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>,
              "TTP_LPNP_margin_pc": {}
            }
          }
        }
      ]
    },
    {
      "name": "VIC",
      "type": "group",
      "items": [
        {
          "name": "2007",
          "opacity": 0.9,
          "type": "csv",
          "url": "parlmap-data/ElectionResults/PollingPlace_2007-2016/2007_PP_VIC.csv",
          "tableStyle": {
            "dataVariable": "TCP_elected_candidate_party",
            "columns": {
              "Formal_votes_pc": <% include ../includes/Formal %>,
              "Informal_votes_pc": <% include ../includes/Informal %>,
              "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
              "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
              "1st_preference_votes_CLP_pc": {},
              "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
              "1st_preference_votes_GRN_pc": <% include ../includes/FirstPrefleserence-Greens %>,
              "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
              "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
              "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_votes_pc": {},
              "TCP_elected_candidate_margin_pc": {},
              "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_votes_pc": {},
              "TCP_other_candidate_margin_pc": {},
              "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
              "TPP_ALP_margin_pc": {},
              "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>,
              "TTP_LPNP_margin_pc": {}
            }
          }
        }
      ]
    },
    {
      "name": "WA",
      "type": "group",
      "items": [
        {
          "name": "2007",
          "opacity": 0.9,
          "type": "csv",
          "url": "parlmap-data/ElectionResults/PollingPlace_2007-2016/2007_PP_WA.csv",
          "tableStyle": {
            "dataVariable": "TCP_elected_candidate_party",
            "columns": {
              "Formal_votes_pc": <% include ../includes/Formal %>,
              "Informal_votes_pc": <% include ../includes/Informal %>,
              "1st_preference_votes_ALP_pc": <% include ../includes/FirstPreference-ALP %>,
              "1st_preference_votes_LP_pc": <% include ../includes/FirstPreference-Liberal %>,
              "1st_preference_votes_CLP_pc": {},
              "1st_preference_votes_NP_pc": <% include ../includes/FirstPreference-National %>,
              "1st_preference_votes_GRN_pc": <% include ../includes/FirstPreference-Greens %>,
              "1st_preference_votes_IND1_pc": <% include ../includes/FirstPreference-Independent %>,
              "1st_preference_votes_Others_pc": <% include ../includes/FirstPreference-Other %>,
              "TCP_elected_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_elected_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_elected_candidate_votes_pc": {},
              "TCP_elected_candidate_margin_pc": {},
              "TCP_other_candidate_name": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_party": <% include ../includes/PartyEnum %>,
              "TCP_other_candidate_votes_no": <% include ../includes/HiddenColumn %>,
              "TCP_other_candidate_votes_pc": {},
              "TCP_other_candidate_margin_pc": {},
              "TPP_ALP_votes_pc": <% include ../includes/TPP-ALP %>,
              "TPP_ALP_margin_pc": {},
              "TPP_LPNP_votes_pc": <% include ../includes/TPP-LNP %>,
              "TTP_LPNP_margin_pc": {}
            }
          }
        }
      ]
    }
  ]
}