{
  "items": [
      {
        "items": [
          {
            "name": "2007 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2007_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2007": <% include ../includes/HiddenColumn %>,
                "Est_2007_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2007_FPvote_pc_DEM": <% include ../includes/FirstPreference-Democrats %>,
                "Est_2007_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2007_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2007_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2007_FPvote_pc_LNP_QL": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2007_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2007_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2007_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2007_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2007_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2007_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2007_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/ACT/ACT_Election2007_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2010 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2010_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2010": <% include ../includes/HiddenColumn %>,
                "Est_2010_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2010_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2010_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2010_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2010_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2010_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2010_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2010_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2010_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2010_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2010_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2010_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/ACT/ACT_Election2010_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2013 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{sa1_7digitcode_2011}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2013_TPPvote_pc_ALP",
              "columns": {
                "state_code_2011": <% include ../includes/HiddenColumn %>,
                "ced_code_2013": <% include ../includes/HiddenColumn %>,
                "ced_name_2013": <% include ../includes/HiddenColumn %>,
                "Est_2013_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2013_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2013_FPvote_pc_KAP": <% include ../includes/FirstPreference-KAP %>,
                "Est_2013_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2013_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2013_FPvote_pc_Mjr_Independ": <% include ../includes/FirstPreference-Independent %>,
                "Est_2013_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2013_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2013_FPvote_pc_PUP": <% include ../includes/FirstPreference-PUP %>,
                "Est_2013_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2013_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2013_TCPvote_pc_ALP": <% include ../includes/TCP-ALP %>,
                "Est_2013_TCPvote_pc_LP": <% include ../includes/TCP-Liberal %>,
                "Est_2013_TCPvote_pc_NP": <% include ../includes/TCP-National %>,
                "Est_2013_TCPvote_pc_OthPart_Ind": <% include ../includes/TCP-Minor %>,
                "Est_2013_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2013_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/ACT/ACT_Election2013_Percent_SA1_20160714_GEO.csv"
          }
        ],
        "name": "ACT",
        "type": "group"
      },
      {
        "items": [
          {
            "name": "2007 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2007_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2007": <% include ../includes/HiddenColumn %>,
                "Est_2007_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2007_FPvote_pc_DEM": <% include ../includes/FirstPreference-Democrats %>,
                "Est_2007_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2007_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2007_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2007_FPvote_pc_LNP_QL": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2007_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2007_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2007_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2007_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2007_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2007_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2007_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/NSW/NSW_Election2007_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2010 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2010_TPPvote_pc_ALP",
              "columns": {
                "state_code_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2010": <% include ../includes/HiddenColumn %>,
                "Est_2010_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2010_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2010_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2010_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2010_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2010_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2010_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2010_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2010_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2010_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2010_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2010_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/NSW/NSW_Election2010_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2013 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{sa1_7digitcode_2011}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2013_TPPvote_pc_ALP",
              "columns": {
                "state_code_2011": <% include ../includes/HiddenColumn %>,
                "ced_code_2013": <% include ../includes/HiddenColumn %>,
                "ced_name_2013": <% include ../includes/HiddenColumn %>,
                "Est_2013_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2013_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2013_FPvote_pc_KAP": <% include ../includes/FirstPreference-KAP %>,
                "Est_2013_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2013_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2013_FPvote_pc_Mjr_Independ": <% include ../includes/FirstPreference-Independent %>,
                "Est_2013_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2013_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2013_FPvote_pc_PUP": <% include ../includes/FirstPreference-PUP %>,
                "Est_2013_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2013_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2013_TCPvote_pc_ALP": <% include ../includes/TCP-ALP %>,
                "Est_2013_TCPvote_pc_LP": <% include ../includes/TCP-Liberal %>,
                "Est_2013_TCPvote_pc_NP": <% include ../includes/TCP-National %>,
                "Est_2013_TCPvote_pc_OthPart_Ind": <% include ../includes/TCP-Minor %>,
                "Est_2013_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2013_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/NSW/NSW_Election2013_Percent_SA1_20160714_GEO.csv"
          }
        ],
        "name": "NSW",
        "type": "group"
      },
      {
        "items": [
          {
            "name": "2007 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2007_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "CD_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_NAME_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2007": <% include ../includes/HiddenColumn %>,
                "Est_2007_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2007_FPvote_pc_DEM": <% include ../includes/FirstPreference-Democrats %>,
                "Est_2007_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2007_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2007_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2007_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2007_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2007_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2007_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2007_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2007_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2007_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2007_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/NT/NT_Election2007_Percent_CD06_20160719_GEO.csv"
          },
          {
            "name": "2010 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2010_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2010": <% include ../includes/HiddenColumn %>,
                "Est_2010_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2010_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2010_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2010_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2010_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2010_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2010_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2010_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2010_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2010_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2010_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2010_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/NT/NT_Election2010_Percent_CD06_20160719_GEO.csv"
          },
          {
            "name": "2013 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{sa1_7digitcode_2011}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2013_TPPvote_pc_ALP",
              "columns": {
                "state_code_2011": <% include ../includes/HiddenColumn %>,
                "ced_code_2013": <% include ../includes/HiddenColumn %>,
                "ced_name_2013": <% include ../includes/HiddenColumn %>,
                "Est_2013_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2013_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2013_FPvote_pc_KAP": <% include ../includes/FirstPreference-KAP %>,
                "Est_2013_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2013_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2013_FPvote_pc_Mjr_Independ": <% include ../includes/FirstPreference-Independent %>,
                "Est_2013_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2013_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2013_FPvote_pc_PUP": <% include ../includes/FirstPreference-PUP %>,
                "Est_2013_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2013_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2013_TCPvote_pc_ALP": <% include ../includes/TCP-ALP %>,
                "Est_2013_TCPvote_pc_LP": <% include ../includes/TCP-Liberal %>,
                "Est_2013_TCPvote_pc_NP": <% include ../includes/TCP-National %>,
                "Est_2013_TCPvote_pc_OthPart_Ind": <% include ../includes/TCP-Minor %>,
                "Est_2013_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2013_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/NT/NT_Election2013_Percent_SA1_20160719_GEO.csv"
          }
        ],
        "name": "NT",
        "type": "group"
      },
      {
        "items": [
          {
            "name": "2007 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2007_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2007": <% include ../includes/HiddenColumn %>,
                "Est_2007_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2007_FPvote_pc_DEM": <% include ../includes/FirstPreference-Democrats %>,
                "Est_2007_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2007_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2007_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2007_FPvote_pc_LNP_QL": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2007_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2007_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2007_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2007_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2007_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2007_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2007_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/QLD/QLD_Election2007_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2010 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2010_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2010": <% include ../includes/HiddenColumn %>,
                "Est_2010_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2010_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2010_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2010_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2010_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2010_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2010_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2010_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2010_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2010_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2010_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2010_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/QLD/QLD_Election2010_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2013 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{sa1_7digitcode_2011}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2013_TPPvote_pc_ALP",
              "columns": {
                "state_code_2011": <% include ../includes/HiddenColumn %>,
                "ced_code_2013": <% include ../includes/HiddenColumn %>,
                "ced_name_2013": <% include ../includes/HiddenColumn %>,
                "Est_2013_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2013_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2013_FPvote_pc_KAP": <% include ../includes/FirstPreference-KAP %>,
                "Est_2013_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2013_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2013_FPvote_pc_Mjr_Independ": <% include ../includes/FirstPreference-Independent %>,
                "Est_2013_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2013_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2013_FPvote_pc_PUP": <% include ../includes/FirstPreference-PUP %>,
                "Est_2013_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2013_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2013_TCPvote_pc_ALP": <% include ../includes/TCP-ALP %>,
                "Est_2013_TCPvote_pc_LP": <% include ../includes/TCP-Liberal %>,
                "Est_2013_TCPvote_pc_NP": <% include ../includes/TCP-National %>,
                "Est_2013_TCPvote_pc_OthPart_Ind": <% include ../includes/TCP-Minor %>,
                "Est_2013_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2013_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/QLD/QLD_Election2013_Percent_SA1_20160714_GEO.csv"
          }
        ],
        "name": "QLD",
        "type": "group"
      },
      {
        "items": [
          {
            "name": "2007 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2007_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "CD_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_NAME_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2007": <% include ../includes/HiddenColumn %>,
                "Est_2007_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2007_FPvote_pc_DEM": <% include ../includes/FirstPreference-Democrats %>,
                "Est_2007_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2007_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2007_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2007_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2007_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2007_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2007_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2007_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2007_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2007_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2007_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/SA/SA_Election2007_Percent_CD06_20160719_GEO.csv"
          },
          {
            "name": "2010 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2010_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2010": <% include ../includes/HiddenColumn %>,
                "Est_2010_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2010_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2010_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2010_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2010_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2010_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2010_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2010_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2010_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2010_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2010_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2010_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/SA/SA_Election2010_Percent_CD06_20160719_GEO.csv"
          },
          {
            "name": "2013 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{sa1_7digitcode_2011}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2013_TPPvote_pc_ALP",
              "columns": {
                "state_code_2011": <% include ../includes/HiddenColumn %>,
                "ced_code_2013": <% include ../includes/HiddenColumn %>,
                "ced_name_2013": <% include ../includes/HiddenColumn %>,
                "Est_2013_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2013_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2013_FPvote_pc_KAP": <% include ../includes/FirstPreference-KAP %>,
                "Est_2013_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2013_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2013_FPvote_pc_Mjr_Independ": <% include ../includes/FirstPreference-Independent %>,
                "Est_2013_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2013_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2013_FPvote_pc_PUP": <% include ../includes/FirstPreference-PUP %>,
                "Est_2013_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2013_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2013_TCPvote_pc_ALP": <% include ../includes/TCP-ALP %>,
                "Est_2013_TCPvote_pc_LP": <% include ../includes/TCP-Liberal %>,
                "Est_2013_TCPvote_pc_NP": <% include ../includes/TCP-National %>,
                "Est_2013_TCPvote_pc_OthPart_Ind": <% include ../includes/TCP-Minor %>,
                "Est_2013_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2013_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/SA/SA_Election2013_Percent_SA1_20160719_GEO.csv"
          }
        ],
        "name": "SA",
        "type": "group"
      },
      {
        "items": [
          {
            "name": "2007 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2007_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "CD_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_NAME_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2007": <% include ../includes/HiddenColumn %>,
                "Est_2007_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2007_FPvote_pc_DEM": <% include ../includes/FirstPreference-Democrats %>,
                "Est_2007_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2007_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2007_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2007_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2007_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2007_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2007_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2007_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2007_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2007_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2007_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/TAS/TAS_Election2007_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2010 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2010_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2010": <% include ../includes/HiddenColumn %>,
                "Est_2010_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2010_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2010_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2010_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2010_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2010_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2010_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2010_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2010_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2010_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2010_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2010_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/TAS/TAS_Election2010_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2013 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{sa1_7digitcode_2011}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2013_TPPvote_pc_ALP",
              "columns": {
                "state_code_2011": <% include ../includes/HiddenColumn %>,
                "ced_code_2013": <% include ../includes/HiddenColumn %>,
                "ced_name_2013": <% include ../includes/HiddenColumn %>,
                "Est_2013_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2013_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2013_FPvote_pc_KAP": <% include ../includes/FirstPreference-KAP %>,
                "Est_2013_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2013_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2013_FPvote_pc_Mjr_Independ": <% include ../includes/FirstPreference-Independent %>,
                "Est_2013_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2013_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2013_FPvote_pc_PUP": <% include ../includes/FirstPreference-PUP %>,
                "Est_2013_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2013_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2013_TCPvote_pc_ALP": <% include ../includes/TCP-ALP %>,
                "Est_2013_TCPvote_pc_LP": <% include ../includes/TCP-Liberal %>,
                "Est_2013_TCPvote_pc_NP": <% include ../includes/TCP-National %>,
                "Est_2013_TCPvote_pc_OthPart_Ind": <% include ../includes/TCP-Minor %>,
                "Est_2013_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2013_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/TAS/TAS_Election2013_Percent_SA1_20160714_GEO.csv"
          }
        ],
        "name": "TAS",
        "type": "group"
      },
      {
        "items": [
          {
            "name": "2007 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2007_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "CD_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_NAME_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2007": <% include ../includes/HiddenColumn %>,
                "Est_2007_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2007_FPvote_pc_DEM": <% include ../includes/FirstPreference-Democrats %>,
                "Est_2007_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2007_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2007_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2007_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2007_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2007_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2007_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2007_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2007_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2007_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2007_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/VIC/VIC_Election2007_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2010 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2010_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2010": <% include ../includes/HiddenColumn %>,
                "Est_2010_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2010_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2010_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2010_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2010_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2010_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2010_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2010_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2010_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2010_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2010_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2010_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/VIC/VIC_Election2010_Percent_CD06_20160714_GEO.csv"
          },
          {
            "name": "2013 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{sa1_7digitcode_2011}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2013_TPPvote_pc_ALP",
              "columns": {
                "state_code_2011": <% include ../includes/HiddenColumn %>,
                "sa1_7digitcode_2011": <% include ../includes/HiddenColumn %>,
                "ced_code_2013": <% include ../includes/HiddenColumn %>,
                "ced_name_2013": <% include ../includes/HiddenColumn %>,
                "Est_2013_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2013_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2013_FPvote_pc_KAP": <% include ../includes/FirstPreference-KAP %>,
                "Est_2013_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2013_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2013_FPvote_pc_Mjr_Independ": <% include ../includes/FirstPreference-Independent %>,
                "Est_2013_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2013_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2013_FPvote_pc_PUP": <% include ../includes/FirstPreference-PUP %>,
                "Est_2013_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2013_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2013_TCPvote_pc_ALP": <% include ../includes/TCP-ALP %>,
                "Est_2013_TCPvote_pc_LP": <% include ../includes/TCP-Liberal %>,
                "Est_2013_TCPvote_pc_NP": <% include ../includes/TCP-National %>,
                "Est_2013_TCPvote_pc_OthPart_Ind": <% include ../includes/TCP-Minor %>,
                "Est_2013_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2013_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/VIC/VIC_Election2013_Percent_SA1_20160714_GEO.csv"
          }
        ],
        "name": "VIC",
        "type": "group"
      },
      {
        "items": [
          {
            "name": "2007 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2007_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "CD_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_CODE_2006": <% include ../includes/HiddenColumn %>,
                "LGA_NAME_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2007": <% include ../includes/HiddenColumn %>,
                "Est_2007_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2007_FPvote_pc_DEM": <% include ../includes/FirstPreference-Democrats %>,
                "Est_2007_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2007_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2007_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2007_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2007_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2007_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2007_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2007_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2007_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2007_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2007_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/WA/WA_Election2007_Percent_CD06_20160719_GEO.csv"
          },
          {
            "name": "2010 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{cd_7digitcode_2006}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2010_TPPvote_pc_ALP",
              "columns": {
                "STATE_CODE_2006": <% include ../includes/HiddenColumn %>,
                "ced_name_2010": <% include ../includes/HiddenColumn %>,
                "Est_2010_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2010_FPvote_pc_FFP": <% include ../includes/FirstPreference-FamilyFirst %>,
                "Est_2010_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2010_FPvote_pc_Independents": <% include ../includes/FirstPreference-Independent %>,
                "Est_2010_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2010_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2010_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2010_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2010_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2010_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2010_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2010_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/WA/WA_Election2010_Percent_CD06_20160719_GEO.csv"
          },
          {
            "name": "2013 Federal Election",
            "opacity": 0.9,
            "featureInfoTemplate": {
              "name": "{{sa1_7digitcode_2011}}"
            },
            "tableStyle": {
              "replaceWithNullValues": [0],
              "dataVariable": "Est_2013_TPPvote_pc_ALP",
              "columns": {
                "state_code_2011": <% include ../includes/HiddenColumn %>,
                "ced_code_2013": <% include ../includes/HiddenColumn %>,
                "ced_name_2013": <% include ../includes/HiddenColumn %>,
                "Est_2013_FPvote_pc_ALP": <% include ../includes/FirstPreference-ALP %>,
                "Est_2013_FPvote_pc_GRN": <% include ../includes/FirstPreference-Greens %>,
                "Est_2013_FPvote_pc_KAP": <% include ../includes/FirstPreference-KAP %>,
                "Est_2013_FPvote_pc_LNP_QLD": <% include ../includes/FirstPreference-LPNPQLD %>,
                "Est_2013_FPvote_pc_LP": <% include ../includes/FirstPreference-Liberal %>,
                "Est_2013_FPvote_pc_Mjr_Independ": <% include ../includes/FirstPreference-Independent %>,
                "Est_2013_FPvote_pc_NP": <% include ../includes/FirstPreference-National %>,
                "Est_2013_FPvote_pc_OtherParties": <% include ../includes/FirstPreference-Other %>,
                "Est_2013_FPvote_pc_PUP": <% include ../includes/FirstPreference-PUP %>,
                "Est_2013_FormalVote_pc": <% include ../includes/Formal %>,
                "Est_2013_InformalVote_pc": <% include ../includes/Informal %>,
                "Est_2013_TCPvote_pc_ALP": <% include ../includes/TCP-ALP %>,
                "Est_2013_TCPvote_pc_LP": <% include ../includes/TCP-Liberal %>,
                "Est_2013_TCPvote_pc_NP": <% include ../includes/TCP-National %>,
                "Est_2013_TCPvote_pc_OthPart_Ind": <% include ../includes/TCP-Minor %>,
                "Est_2013_TPPvote_pc_ALP": <% include ../includes/TPP-ALP %>,
                "Est_2013_TPPvote_pc_Coalition": <% include ../includes/TPP-LNP %>
              }
            },
            "type": "csv",
            "url": "parlmap-data/ElectionResults/WA/WA_Election2013_Percent_SA1_20160719_GEO.csv"
          }
        ],
        "name": "WA",
        "type": "group"
      }
    ],
    "name": "Results by SA1 & CCD (By State) - Percentages",
    "type": "group"
  }